ACTION=="change", SUBSYSTEM=="HDMI", KERNEL=="hdmi_device", ATTR{cpu_support}=="Broadcom:BCM2837", ATTR{gpu_support}=="Broadcom:VideoCore_IV", SYMLINK+="hdmi234", RUN="/bin/sh /home/pi/Desktop/demo/my_script.sh"

ACTION=="add", SUBSYSTEM=="HDMI", KERNEL=="hdmi_device", ATTR{cpu_support}=="Broadcom:BCM2837", ATTR{gpu_support}=="Broadcom:VideoCore_IV" SYMLINK+="hdmi0"
